*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}
a,i{
    cursor: pointer;
}

.btn-close:focus,.btn-close:active{
    outline: none !important;
    box-shadow: none !important;
}
.default-cursor{
    cursor: default;
}
*{
    scroll-behavior: smooth;
}
.select-none{
    user-select: none;
}
img::selection{
    background: none;
}
.cursor{
    cursor: pointer;
}
.offcanvas-backdrop.show {
    opacity: 0.98!important;
    background-color: rgba(15, 23, 42, 0.5) !important;
    backdrop-filter: blur(10px) !important;
}
.offcanvas .cross button {
    border: none;
    background: none;
    margin-right: 14px;
}
.offcanvas .cross button i{
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 30px;
    height: 30px;
    /* margin-bottom: 10px !important; */
}
.offcanvas .cross button i:hover{
    background: rgba(128, 128, 128, 0.185);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.offcanvas-body a{
    background: #fff;
    border-radius: 30px;
    margin-bottom: 5px !important;
    color: #000;
}
.offcanvas-body a:hover,.offcanvas-body a:focus{
    background: #605d5d7c;
    border-radius: 30px;
    color: #ffffff;
}
.offcanvas-body .login-btn:hover{
    opacity: 0.85;
}
.offcanvas-body .login-btn{
    padding: 6.5px 17px;
}
.offcanvas-body .sign-btn{
    border: 1px solid rgb(195, 195, 195);
}
.offcanvas-body .sign-btn:hover{
    border: 1px solid rgb(70, 70, 70);
}
#scroll-up .scroll a {
    position: fixed;
    bottom: 25px !important;
    right: 25px !important;
    z-index: 1;
}
#scroll-up .scroll a i {
    background: #ffffff7e;
    padding: 15px;
    border-radius: 50%;
}
#scroll-up .scroll a i:hover{
    background: #ffffffce;
}
/* 
-------------------------------------------
    TOP_NAV-BAR-STARTS
-------------------------------------------
 */
#top-nav-bar {
    background: #F5F5F5;
}
#top-nav-bar .row {
    padding: 7px 0;
}
#top-nav-bar .row .col-left img:hover{
    opacity: 0.8;
    cursor: pointer;
}
#top-nav-bar .row a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 12.5px;
}
#top-nav-bar .row a:hover{
    opacity: 0.5;
}
#top-nav-bar .row .line{
    font-size: 11.5px;
    font-weight: 700;
}
 /* 
-------------------------------------------
    TOP_NAV-BAR-ENDS
-------------------------------------------
 */
/* 
-------------------------------------------
    NAV-BAR-STARTS
-------------------------------------------
 */
 /* #nav-bar{
    position: sticky;
    z-index: 1;
    top: 0;
    background: #ffffffa5;
 } */
#nav-bar{
    background-color: #fff;
}
#nav-bar .navbar .logo>a{
    font-weight: 700;
    letter-spacing: 5px;
    color: #000000;
}
#nav-bar .nav-item .d-content {
    background-color: #ffffff;
    display: none;
    position: absolute;
    z-index: 1;
    animation: ani2 0.5s alternate;
    width: 100%;
    top: 61px;
    left: 0;
}
@keyframes ani2 {
    0% {
        height: 0%;
    }
    100% {
        height: 567%;
    }
}
#nav-bar .nav-item:hover .d-content {
    display: block;   
}
#nav-bar .nav-item:hover .d-content .col h4 {
    font-size: 16px !important;
    padding: 5px 0;
}
#nav-bar .nav-item:hover .d-content .col a {
    display: block;
    font-size: 14px;
    padding: 2px 0;
    text-decoration: none;
    color: gray;
}
#nav-bar .nav-item:hover .d-content .col {
    animation: ani1 0.3s ease-in;
}
@keyframes ani1 {
    0% {
        transform: translateY(-45px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
#nav-bar .nav-item:hover .d-content .col a:hover {
    color: #000;
    text-decoration: underline;
    text-underline-offset: 3px;
}
#nav-bar .nav-item:hover .d-content .row {
    padding: 0 200px;
    padding-top: 40px;
    padding-bottom: 60px;
}
#nav-bar>a:hover , .nav-item:hover .nav-link {
    color: #000000 !important;
    /* text-decoration: underline;
    text-underline-offset: 16px; */
    box-shadow: 0px 1.5px 0px 0px black !important;
    overflow-x: hidden;
}
#nav-bar .navbar .logo>a:hover{
    opacity: 0.68;
}
#nav-bar .nav-border a {
    text-decoration: none;
    color: #000000;
}
#nav-bar ul{
    list-style-type: none;
}
#nav-bar .underline a{
    color: rgb(100, 100, 100);
    font-weight: 545;
}
#nav-bar .underline .middle-items>a:hover {
    color: #000000;
    /* text-decoration: underline;
    text-underline-offset: 16px; */
    box-shadow: 0px 1.5px 0px 0px black;
    overflow-x: hidden;
}
#nav-bar button{
    outline: none !important;
    border: none;
}
#nav-bar button:focus,#nav-bar button:active{
    box-shadow: none !important;
    user-select: none;
}
#nav-bar .icon-circle ul i{
    color: #000000;
    display: flex;
    background-color: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
}
#nav-bar .icon-circle ul i:hover{
    background-color: rgba(128, 128, 128, 0.185);
    border-radius: 50%;
    width: 32px;
    cursor: pointer;
    height: 32px;
}
#nav-bar .logo a i{
    color: #000000;
    display: flex;
    background-color: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
}
#nav-bar .logo a i:hover{
    background-color: rgba(128, 128, 128, 0.185);
    border-radius: 50%;
    width: 32px;
    cursor: pointer;
    height: 32px;
}
#nav-bar .logo .navbar-brand {
    font-family: 'Alata',sans-serif;
}
#nav-bar .icon-circle input[type="search"]{
    background-color: #6e705117;
}
#nav-bar .icon-circle .inside-search i{
    background-color: transparent;
    transform: translate(-15%,-18%);
    cursor: pointer;
    margin: 0 auto;
    user-select: none;
}

#nav-bar .icon-circle input[type="search"]:hover{
    background-color: rgba(128, 128, 128, 0.185);
}
#nav-bar .icon-circle input:focus{
    box-shadow: none;
}
#nav-bar .icon-circle form input::placeholder{
    color: #2929023e;
    font-weight: 500;
}
#nav-bar .icon-circle form input:hover::placeholder{
    color: #2929028c;
}
#nav-bar .logo i{
    width: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 30px;

}
#nav-bar .logo i:hover{
    background: #55535328;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
 /* 
-------------------------------------------
    NAV-BAR-ENDS
-------------------------------------------
 */
#banner .banner-img h4{
    font-size: 60px !important;
    font-weight: 645;
    text-transform: uppercase;
}
#banner img{
    height: auto;
    width: 100%;
    display: block;
}
#banner .row .overlay-text{
    border: 50px 100px;
}
#banner .banner-img{
    display: inline-block;
}
#banner .banner-img .overlay-text{
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-50%);
}
#banner .hover-btn{
    width: 150px;
    height: 50px;
    background: #ffffff;
    font-weight: 500;
    transition: 0.25s;
}
#banner .hover-btn:hover{
    background-color: #292902 !important;
    color: #ffffff;
}
@media (min-width:1200px) {
    #banner .banner-img h4{
        font-size: 60px !important;
    }
   
}
@media (max-width:1199px){
    #banner .banner-img h4{
        font-size: 45px !important;
    }
}
@media (max-width:576px) {
    #banner .banner-img h4{
        font-size: 35px !important;
        text-align: center;
    }
}
@media (max-width:360px) {
    #banner .banner-img h4{
        font-size: 30px !important;
        text-align: center; letter-spacing: -1.4px;
        font-weight: 645;
    }
}

 /* 
-------------------------------------------
    SHOE-ITEMS--STARTS
-------------------------------------------
 */

#shoe-items header h2{
    font-family: 'Alata',sans-serif;
    font-size: 64px;
    line-height: 10px;
    font-weight: 700;
    margin-top: 30px !important;
    letter-spacing: -3px;
}
@media (max-width:992px) {
    #shoe-items header h2{
        font-size: 45px;
        line-height: 40px;
        margin-top: -15px !important;
        letter-spacing: -3px;
    }
    #shoe-items header .btn{
        padding: 6px 22px !important;
        font-weight: 600;
    }
    #shoe-items header {
        padding: 0 20px !important;
    }
}
#shoe-items .view-icons a{
    text-decoration: none;
    color: #000;
}
#shoe-items .view-icons a i{
    background: #E4E4E4;
    padding: 15px 19px;
    border-radius: 50%;

}
#shoe-items .nike svg {
    width: 35px;
}
#shoe-items .nike a {
    text-decoration: none;
    color: #000;
}
#shoe-items .view-icons a i:hover {
    background: #cbcbcb;

}
#shoe-items .img-slider .scroll-hori {
    overflow-x: scroll;
}
#shoe-items .img-slider img {
    width: 450px !important;
}
#shoe-items {
    font-weight: 560;
}
#shoe-items .view-all span {
    font-weight: 560;
}
#shoe-items .img-slider span:first-child {
    color: #99470A;
}
@media (max-width:576px) {
    #shoe-items .img-slider img {
        width: 310px !important;
    }
}
#shoe-items-1 .view-icons a {
    text-decoration: none;
    color: #000;
}
#shoe-items-1 .view-icons a i {
    background: #E4E4E4;
    padding: 15px 19px;
    border-radius: 50%;

}
#shoe-items-1 .adidas svg {
    width: 50px;
}
#shoe-items-1 .adidas a {
    text-decoration: none;
    color: #000;
}
#shoe-items-1 .view-icons a i:hover {
    background: #cbcbcb;

}
#shoe-items-1 .img-slider .scroll-hori {
    overflow-x: scroll;
}
#shoe-items-1 .img-slider img {
    width: 450px !important;
}
#shoe-items-1 {
    font-weight: 560;
}
#shoe-items-1 .view-all span {
    font-weight: 560;
}
#shoe-items-1 .img-slider span:first-child {
    color: #99470A;
}
@media (max-width:576px) {
    #shoe-items-1 .img-slider img {
        width: 310px !important;
    }
}
#shoe-items-2 .view-icons a {
    text-decoration: none;
    color: #000;
}
#shoe-items-2 .view-icons a i {
    background: #E4E4E4;
    padding: 15px 19px;
    border-radius: 50%;

}
#shoe-items-2 .puma svg {
    width: 32px;
}
#shoe-items-2 .puma a {
    text-decoration: none;
    color: #000;
}
#shoe-items-2 .view-icons a i:hover {
    background: #cbcbcb;

}
#shoe-items-2 .img-slider .scroll-hori {
    overflow-x: scroll;
}
#shoe-items-2 .img-slider img {
    width: 450px !important;
}
#shoe-items-2{
    font-weight: 560;
}
#shoe-items-2 .view-all span{
    font-weight: 560;
}
#shoe-items-2 .img-slider span:first-child{
    color: #99470A;
}
@media (max-width:576px){
    #shoe-items-2 .img-slider img {
        width: 310px !important;
    }
} 
/*
-------------------------------------------
    SHOE-ITEMS--ENDS
-------------------------------------------
-----------------------------------------------------------------------------------------------------------------
 /* 


 /*
-------------------------------------------
    INFO--STARTS
-------------------------------------------
 */
#info {
    font-size: 18px;
    /* padding: 50px 0; */
    background: #6e7051d1;
}
#info .row .rounded-pill {
    color: #fff;
}

 /*
-------------------------------------------
    FOOTER--STARTS
-------------------------------------------
 */
#footer{
    background: #000 !important;
    color: #fff;
}
#footer .logo .navbar-brand{
    font-family: 'Alata';
}
#footer p{
    font-size: 13px !important;
}
#footer h4{
    font-size: 13px !important;
    font-weight: 600;
    letter-spacing: 2px;
}
#footer .para{
    opacity: 0.5;
}
#footer .footer-bottom .footer-bottom-left .footer-content-p p{
    opacity: 0.5;
}
#footer .footer-content-p p>a{
    opacity: 0.5;
    text-decoration: none;
    color: #fff;
}
#footer .footer-content-p p>a:hover{
    opacity: 1;
}
#footer .footer-icons{
    text-decoration: none;
    color: #000;
}
#footer .footer-icons i{
    background: #ffffff;
    padding: 10px;
    opacity: 0.5;
    border-radius: 50%;
}
#footer .footer-icons i:hover{
    opacity: 1;
}
#footer .footer-icons .fa-facebook-f{
    background: #ffffff;
    padding: 10px 13px;
    border-radius: 50%;
}
#footer .footer-icons .fa-instagram{
    background: #ffffff;
    padding: 10px 12px;
    border-radius: 50%;
}

@media (max-width:576px){
    #footer .footer-bottom p{
        font-size: 11.5px !important;
    }
}

  /* 
-------------------------------------------
    FOOTER-ENDS
-------------------------------------------
 */


/* -------------------------------------------------------------------------------------------------------------
-------------------------------------------
    login-file--strats
-------------------------------------------
 */
#login form {
    padding: 10px 0 !important;
}
#login .form-login{
    position: relative;
}
#login .form-login .label {
    position: absolute;
    top: 10px;
    left: 12px;
    background: #fff;
    padding: 0;
    margin: 0;
    pointer-events: none;
    transition: all 0.5s;
}
#login .form-login input:focus ~ .label,#login .form-login .form-control:not(:placeholder-shown).form-control:not(:focus) ~ .label{
    top: -11px !important;
    padding: 0 2px;
    position: absolute;
    font-size: small;
}
#login form .form input {
    width: 330px !important;
    height: 45px !important;
    border-radius: 8px;
    box-shadow: none;
    cursor: text;
    border: 1px solid #000;
    outline: none;
    margin-bottom: 25px;
}
#login form .login-btn:hover {
    opacity: 0.89;
}
#login form .btn-1{
    border: 1px solid #00000054;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 5px 50px !important;
}
#login form .btn-1:hover{
    border: 1px solid #000000;
    background-color: #00000010;
}
#login form .btn-1 a{
    text-decoration: none;
    color: #000;
}
#login form .btn-2{
    border: 1px solid #00000054;
    border-radius: 20px;
    padding: 5px 55px !important;
}
#login form .btn-2 a{
    text-decoration: none;
    color: #000;
}
#login form .btn-2:hover{
    background-color: #00000010;
    border: 1px solid #000000;
}
#login .login-link a{
    text-decoration: none;
    color: #000;   
}
#login .login-link a:hover,#login .login-link a:focus{
    opacity: 0.7;
}
@media (max-width:360px) {
    #login form .form input{
        width: 270px !important;
        height: 45px !important;
    }
}
@media (min-width:992px) {
    #login img{
        margin-top: 62.5px !important;
    }
}
/*
-------------------------------------------
    signup-file--strats
-------------------------------------------
 */
#signup form{
    padding: 10px 0 !important;
}
#signup .form-signup{
    position: relative;
}
#signup .form-signup .label {
    position: absolute;
    top: 10px;
    left: 12px;
    background: #fff;
    padding: 0;
    margin: 0;
    pointer-events: none;
    transition: all 0.5s;
}
#signup .form-signup input:focus ~ .label,#signup .form-signup .form-control:not(:placeholder-shown).form-control:not(:focus) ~ .label{
    top: -11px !important;
    padding: 0 2px;
    position: absolute;
    font-size: small;
}
#signup form .form-signup input{
    width: 279.5px !important;
    height: 45px !important;
    border-radius: 7px;
    font-size: 16px;
    border: 1px solid #000;
    outline: none;
    box-shadow: none;
    margin-bottom: 25px;
}
#signup form .login-btn:hover{
    opacity: 0.89;
}
#signup form .btn-1{
    border: 0.1px solid #00000079;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 5px 50px !important;
}
#signup form .btn-1:hover{
    background-color: #00000042;
    border: 0.1px solid #000000;
}
#signup form .btn-1 a{
    text-decoration: none;
    color: #000;
}
#signup form .btn-2{
    border: 0.1px solid #00000079;
    border-radius: 20px;
    padding: 5px 55px !important;
}
#signup form .btn-2 a{
    text-decoration: none;
    color: #000;
}
#signup form .btn-2:hover{
    background-color: #00000042;
    border: 0.1px solid #000000;
}
#signup .login-link a{
    text-decoration: none;
    color: #000;   
}
#signup .login-link a:hover,#signup .login-link a:focus{
    opacity: 0.7;
}
@media (max-width:360px) {
    #signup form .form input{
        width: 270px !important;
        height: 45px !important;
    }
}
